@import "../../assets/scss/styles.scss";

/* Themes images and color properties */
.light {
  .footer {
    &__legal {
      color: $dark-gray;
    }
  }  
}

.dark {
  .footer {
    &__legal {
      color: $light-gray;
    }
  }
}

/* Layout properties */
.footer {
  width: 100%;
  margin-top: 1.5em;

  &__legal {
    font-size: 0.75rem;
    text-align: center;
  }
}
